<h1>Potluck Manager!</h1>
<p>Find me in app/views/static_pages/hme.html.erb</p>

<p><%= @potluck.id %></p>
<p><%= @potluck.title %></p>
<p><%= @potluck.description %></p>
<p><%= @potluck.location %></p>
<p><%= @potluck.date %></p>
<p><%= @potluck.time %></p>
<p><%= @potluck.party_size %></p>
<p><%= @potluck.user_id %></p>
<p><%= @potluck.created_at %></p>
<p><%= @potluck.updated_at %></p>

