<div class="container bottom_space">
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<h2>Current Potlucks</h2> 
		
			<form action="/potluck/new" method="get" class="row">
				<button class="btn btn-success admin-potluck-update button_margin" type='submit'>Make New Potluck <span class="glyphicon glyphicon-new-window"></span></button>
			</form>

			<div class="users_potlucks list-group">
				<% @current_user.potlucks.each do |potluck| %>
					<div class="a_potluck">
						<div class="row">
							<div class="col-md-4 padding">
								<h1><%= (Time.parse(potluck.date.to_s).strftime('%a, %b %d ')) %></h1>
								<h4><%= (Time.parse(potluck.time.to_s).strftime('%l:%M'' %P')) %></h4>
							</div>
							<div class="col-md-offset-5 text-left padding">
								<h1><%= potluck.title.capitalize %></h1>
								<h4> <%= potluck.location %> </h4>
								<span class="text-muted"><%= potluck.description %></span><br>
								<span><%= potluck.party_size %> people expected</span>
								<!-- view edit delete buttons -->

								<div class="btn-group btn-group">
								  <a href="/potluck/<%= potluck.id %>" class="btn btn-default borderless">Edit<span class="glyphicon glyphicon-edit"></span>
								  </a>
								  <a href="/potluck_view/<%= potluck.id %>" class="btn btn-default borderless">View<span class="glyphicon glyphicon-search"></span>
								  </a>
	<!-- 							  <a href="#" class="btn btn-default btn-sm borderless">Delete<span class="glyphicon glyphicon-exclamation-sign"></span>
								  </a> -->
								</div>

							</div>
				    </div>
						
					</div>
				<% end %>
			</div>

		</div>
	</div>
</div>

