<div class="container col-md-6 col-md-offset-3">
	<div class="user_intro">
		<h2>Current Potlucks</h2> 
	
		<form action="/potluck/new" method="get">
			<button class="btn btn-success admin-potluck-update button_margin" type='submit'>Make New Potluck <span class="glyphicon glyphicon-new-window"></span></button>
		</form>
	</div>

	<div class="users_potlucks list-group">
		<% @current_user.potlucks.each do |potluck| %>
			<div class="list-group-item">

				<h1><%= potluck.title.capitalize %></h1>

				<span class="lead"><%= potluck.description %></span><br>
				<span><%= potluck.party_size %> people expected</span>
				<h4><%= (Time.parse(potluck.date.to_s).strftime('%a, %b %d ')) + " at " + 
						(Time.parse(potluck.time.to_s).strftime('%l:%M'' %P')) %></h4>
		        <h4> <%= potluck.location %> </h4>


		        <form action="/potluck/<%= potluck.id %>" >
					<button class="btn btn-default admin-potluck-view" type='submit'>View/Edit <span class="glyphicon glyphicon-pencil borderless"></span></button>
				</form>
	    	</div>
		<% end %>
	</div>
</div>

