<header>
	<ul class="navbar navbar-inverse">	
		<div class="top_header">
			<div >
				<h1><a class="title" href="">Potluck Planner</a></h1>
			</div>
			<% if @current_user.nil? %>
				<div class="form-inline">
			        <%= form_for(@current_user, url:{controller: "login", action: "create"}) do |f| %>
			          <%= f.text_field :email, placeholder: "email",  class: 'form-control' %>
			          <%= f.password_field :password, placeholder: "password", class: 'form-control' %>
			          <%= f.submit "Submit", class: "btn form_button btn-primary" %>
			        <% end %>
					<button class="form-control btn-primary" data-toggle="modal" data-target="#myModal">Register</button>
				</div>

			<%= render 'layouts/modal' %>
			<% end %>
			<!-- 		if user logged in display -->
			<% if @current_user %>
				<form action="/logout" method="post">
					<span>WELCOME <%= @current_user.name %> </span>
					<button class="btn btn-primary navbar-btn">Logout</button>
				</form>
			<% end %>
		</div>
		<% if @current_user %>
			<ol class="breadcrumb nomargin">
			  <li><a href="/">Home</a></li>
			  <li><a href="/user_home">My Potlucks</a></li>
		   </ol>
		<% end %>

	</ul>
</header>