<!-- Modal -->


<div id="login_modal" class="modal fade" role="dialog">
   <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Log In</h4>
      </div>

      <div class="modal_form">
        <%= form_for(@current_user, url:{controller: "login", action: "create"}, :html => {:class => 'form-group', :id => "user_id_login"}) do |f| %>
          <%= f.label :email, class: "label-padding" %>
          <%= f.text_field :email, class: 'form-control input-sm', id: 'login_email'%>
          <%= f.label :password, class: "label-padding" %>
          <%= f.password_field :password, class: 'form-control input-sm', id: 'login_password' %>
          <%= f.submit "Submit", class: "btn button_top_margin btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




