<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Sign Up</h4>
      </div>

      <div class="modal_form">
          <%= render 'layouts/errors' %>
          <%= form_for(@current_user, url:{controller: "user", action: "create"}) do |f| %>
            
          <%= f.label :name, class: "label-padding" %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email, class: "label-padding"  %>
          <%= f.text_field :email, class: 'form-control' %>

          <%= f.label :password, class: "label-padding" %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation, "Confirmation", class: "label-padding" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>

          <%= f.submit "Submit", class: "btn button_margin btn-primary" %>
        <% end %>
      </div>
   </div>
  </div>
</div>




