<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">

    <!-- Modal content-->
   <div class="modal-content">

      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Sign Up</h4>
      </div>

        <%= render 'layouts/errors' %>
        <%= form_for(@current_user, url:{controller: "user", action: "create"}) do |f| %>
          
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :email  %>
          <%= f.text_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :confirm_password %>
          <%= f.password_field :confirm_password, class: 'form-control' %>

          <%= f.submit "Submit", class: "btn form_button btn-primary" %>
        <% end %>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

   </div>

  </div>
</div>



